--swiftversion 6.0

# Xcode-Stil
--indent 4
--linebreaks lf
--commas inline
--semicolons never
--trimwhitespace always

# Keine automatischen Refactorings
--disable redundantReturn
--disable redundantSelf
--disable redundantSwiftUIGroup
--disable redundantViewBuilder
--disable opaqueGenericParameters
--disable redundantAsync
--disable redundantThrows
--disable numberFormatting
--disable sortImports
--disable wrapMultilineStatementBraces

# Ordner ignorieren
--exclude Pods,.build,build,DerivedData,Packages,ElyraBudgetTests,ElyraBudgetUITests